<style>
html {
	background: no-repeat center center fixed url(<%= asset_path 'night.jpg' %>);
	min-height: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>

<div class="row">
<h2>GAME PLAYING</h2>
</div>
<div class="row">
  <h3 class="result"></h3>
  <br />
  <br />
</div>
<div class="row">
  <div class="col-sm-2" id="playersInfo">
    <h4>Character Distribution</h4>
      <% @game.characters.uniq.each do |character| %>
        <ul>
          <b><%= character.name.capitalize %>: </b>
          <% @game.players.each do |player| %>
            <% if player.character == character %>
              <li><%= player.name %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
  </div>

  <div class="col-sm-8" id="night">
    <div id="newnight_field">
      <h3>A New Night has yet come</h3>
      <p>All players close your eyes</p>
      <hr />
        <%= form_for([@game, @night]) do |f| %>
          <% @game.characters.uniq.each do |character| %>
            <% if character.ability != nil && Player.alive_this_game_character(@game, character) %>
              <fieldset>
                <%= label_tag("night_events[#{character.name}]", "Who did #{character.name} #{character.ability}?") %>
                <%= select_tag("night_events[#{character.name}]", options_from_collection_for_select(@game.alive_players, :id, :name), prompt: "Please Select") %>
              </fieldset>
            <% end %>
          <% end %>
          <br />
          <%= f.submit "Night is over", :class => "btn btn-outline-primary" %>
        <% end %>
    </div>
    <div id="editnight_field">
      <h3>The Night is Over</h3>
      <p>Players please open your eyes.</p>
      <hr />
      <div id="edit_night_form">
      <!-- render eidt night form after ajax call--> 
      </div>
    </div>

  </div>

  <div class="col-sm-2" id="nightLog">
    <h4>About Last Night</h4>
  </div>
</div>
