<style>
html {
	background: no-repeat center center fixed url(<%= asset_path 'night.jpg' %>);
	min-height: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>

<div class="row">
  <%= render "game_status" %>
</div>

<div class="row">
  <div class="col-sm-3" id="playersInfo">
    <%= render "characters" %>
  </div>

  <div class="col-sm-6" id="night">
    <% if @game.stillplaying? %>
      <%= render "night_forms" %>
      <div id="nightRoundup">
        <!-- render nights round-up after ajax call if game over --> 
      </div>
    <% else %>
      <%= render "nights_roundup" %>
      <br />
    <% end %>
  </div>

  <div class="col-sm-3" id="nightLog">
    <% if @game.stillplaying? %>
      <%= render "last_night" %>
    <% else %>
      <%= render "nights_logs" %>
    <% end %>
  </div>
</div>
